
<div class="logIn">

    <div class="container">
        <h1>Log In</h1>
        <p>Please fill in this form to log in</p>
        <hr>
        <mat-form-field class="example-full-width">
                <label for="uname"><b>Username</b></label>
                <input  matInput type="text" placeholder="Enter Username"  [(ngModel)]="user" name="user"   >
                <label for="psw"><b>Password</b></label>
                <input  matInput type="password" placeholder="Enter Password" [(ngModel)]="pass" name="pass" >
                <button mat-button  routerLink="/profile" (click)="sendUsAndPass(user,pass)">Login</button>
          </mat-form-field>
  
      
    
    
     
    </div>

</div>


 
