.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    background-color: bisque;
    border:rgb(94, 78, 78) solid 2px;
    width:100%;

}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px;
    text-align: left;
}

.podaci{
    font-family: "Times New Roman", Times, serif;
}
.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
h6{
float:left;
}
.roomImg{
    width: 60%;
    height: 60%;
    



}
.room{
    text-align:center;
    font-family: "Times New Roman", Times, serif;
}
.cardRoom{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    background-color: rgb(250, 248, 246);


}
h5{
    width:100%;
    font-weight: bold;
    text-align: center;
}
h3{
    width:100%;
    font-weight: bold;
    text-align: center;
}
.btn-group{

    margin:10px;
    float:left;
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid rgb(25, 163, 13); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

.btn-primary{
width:25%;

}