<div *ngFor="let people of people$|async" class="row">
    <div *ngIf="people.id!=0" class="card">
    
        <img src="{{people.picture}}" alt="Avatar" class="avatar" className="avatar" >
        <div class="container">
          <h4 ><b>Name:<b className="podaci">{{people.name}}</b> </b></h4> 
          <h4><b>Surname:<b className="podaci">{{people.surname}} </b></b></h4> 
          <div>
        
            </div> 
            <div className="rooms">
            <h3 className="room">My rooms: </h3>
            <li *ngFor="let soba of people.room">
             <app-room-in-profile  [room]="soba"
             (editEvent)="onEditRoom($event)">
             
    
    
             </app-room-in-profile>
           
    
              </li>
            </div>
           
            <div class="btn-group">
                <mat-icon routerLink="/add-room">add_box</mat-icon>
                <mat-icon routerLink="/room-list" (click)=" findRooms()">find_in_page</mat-icon>
                <mat-icon  routerLink="/roommate-list" (click)="findRoommates()" >accessibility_new</mat-icon> 
              </div>
        </div>
    
        </div>
    