<div className="container">
  <mat-icon  className="home" routerLink="/profile">home</mat-icon>
<ul>


    <li *ngFor="let cimer of roommates$ | async">
        <div *ngFor="let people of user$|async">
        <div *ngIf="people.id!=cimer.id">     
  <app-roommate  [roommate]="cimer">

  </app-roommate>
  

</div>
</div>
       </li> 
    
        
  </ul>
</div>
