<!--The content below is only a placeholder and can be replaced.-->


<div  style="text-align: center" class="divcic" >
  <h1 style="font-family:fantasy"   >
   {{ title }}!
  </h1>
   <mat-toolbar color="red">
    <mat-toolbar-row>
      <span class="nav-link" routerLink="/logIn">Log In</span>
      <span class="nav-link" routerLink="/singUp">Sing Up</span>
    </mat-toolbar-row>
  </mat-toolbar>
   <router-outlet></router-outlet>
   
   <div>
      
   </div>
  
</div>


