.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   width:70%;
    background-color: bisque;
    border:rgb(94, 78, 78) solid 2px;

}
.userName{
  margin-top:10px;
    width:100%;

}
.slika{
    width:100%;
}
.zaSliku{
    width:100%;
    height:100%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
h6{
float:left;
width:100%;
text-align:left;
}
.roomImg{
    width: 60%;
    height: 60%;
    



}
.cardRoom{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    background-color: rgb(250, 248, 246);


}
h5{
    width:100%;
}
.opis{
    float:left;
}
.podaci{
    font-family: "Times New Roman", Times, serif;
}
h6{
    
    float:left;
}
h4{
    float:left;
    width: 100%;
    text-align: left;
}
.bold{
    font:bold;
}