<div *ngIf="room != null" class="movieDiv">
    <div class="card">
      <div className="slika">
        <div className="zaSliku">
          <img src={{room.picture}} alt="Avatar" class="avatar" >
        </div>
          <h6 className="userName"><b>{{room.username}}</b></h6> 
      </div>
        <div class="container">
          <li *ngFor="let soba of room.room">
              <div class="card">
                  <div class="container">
                      <h4><b>Town:<b className="podaci">{{soba.location}}</b></b></h4> 
                      <img src={{soba.picture}}  class="roomImg" >
                      <h6><p className="bold">Number of places:<b className="podaci"> {{soba.places}}</b></p></h6>
                      <p class="opis"><b className="bold">Description:</b>{{soba.description}}</p>
                 
                
                    </div>
                 
                 
                </div>
              
            
           
    
        </li>
      </div>
  </div>
  </div>