body{
	width:100%;
	
	text-align:center;
}
.dzt{
	float:left;
	width:50%;


}
.dza{
	float:left;
	width:50%;

}
img {
	max-width: 100%;
	float: left;
	height: auto;
	width:50%;
	height:500px;

}
.kontejner{
width:100%;
height:20%;
float:left;
}
.leto{
	float:left;
	width:20%;
	height:20%
}

.kontejnergd{

	width:20%;
	height:20%;
	float: left;
}
.kontejnerSaraDa{
	width:50%;
	height:10%;
	float: left;
}
.kontejnerSaraNe{
	width:20%;
	height:10%;
	float: left;

}
.trazi{
	width:100%;
	height:5%;
	float:left;

}
.predmet{
	float:left;
    border:solid;

	
}
.naslov{
width:100%;
float:left;
	
}
.trazi{
	height:50%;
}
.trazeni{
	float:left;
	border:solid;
}
.predlog{
	float:left;
	width:100%;
}

.predmet {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

 /*The actual popup */
.predmet .popuptext {
    visibility: hidden;
	width: 160px;
	height:200px;
    background-color: #555;
    color: #fff;
	text-align: center;
    border-radius: 6px;
    padding: 8px 0;
	position: absolute;
	top:100px;
	left:500px;

    z-index: 1;
   /* bottom: 125%;*/
   
 
}

/* Popup arrow */
.predmet .popuptext::after {
    content: "";
    position: absolute;
   /* top: 100%;
    left: 70%;  */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup  */
.predmet .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

  /*Add animation (fade in the popup)  */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.divZaLog{
	float:left;
	width:40%;
	height:50%;
	
}
.form-group{
	height:30%;
	width:80%;

}
.kombinacija{
	float:left;
	width:100%;

}
.divZaReg{
	float:left;
	width:40%;

}
.divZaIme{
float: left;
width:100%;

}
.ime{
	width:100%;
}
.inputime{
	width:100%;
}
.brisanje{
	float:left;
}
.divZaDod{

	
	width:40%;
	height:100%;
	float:left;
	
}
.labelaDodaj{

	float:left;
	width:100%;
}
.inputDodaj{

	float:left;
	width:100%;
}
.slicica{

	 width:100%;
	 height:60%;
}