body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:faded;
  background-color: red;
}
h1{
 
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
img{
width:100%;
}
.divcic{
  height:280px;
  margin-top:20px;
  margin-right:20px;
  color:rgb(58, 55, 55);
  width:85%;
  border:1px solid black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:italic;
  background-color: rgb(243, 235, 220);
  




}
.text{
  margin:auto;
  padding: 40px;
  text-align: center;


}
.App{
  background-color: rgb(189, 184, 184);
}
.nav{
  background-color:rgb(79, 77, 82);
 
}
.btn-primary {
  background-color: #23aa4e;
  border-color: #177d37;
}

#example {
  margin: 3rem;
}
.photos{
  width:70%;
  margin:auto;
  margin-top:0px;
}
.navbar{
  width:100%
}

.customContainer {
  float:right;
  height:100px;
  width:95px;
}
.likes{
  float:right;
  margin-right: 20px;
  margin-left: 20px;
  width:5px;
}
.btn {
 float:right;
 width:100px;
}
.btn-primary{

  float:right;
}
lbllike{

 float: right;
 height:20px;
 font-size: 13px;

}
.text{
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 22px;


}
.dugme{
  float:left;
  margin-left: 300px;
  margin-top:10px;
}
.divFind{

 
  margin-top:20px;
  margin-right:20px;
  color:gray;
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:italic;


}
.lajk{
  width:20px;
  height: 20px;
  float:right;
}
