.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    background-color: bisque;
    border:rgb(94, 78, 78) solid 2px;
    width:70%;

}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

h6{
float:left
}
.avatar{
    width: 30%;
    height: 30%;
    border-radius: 8px;
    



}
.info{
    width:40%;
    float:left;
}
.cardRoom{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    background-color: rgb(250, 248, 246);


}
h5{

}