<div *ngIf="roommate != null" class="movieDiv">
    <div class="card">
        <img src={{roommate.picture}} alt="Avatar" class="avatar" >
        <div class="container">
          <h6><b>{{roommate.username}}</b></h6> 
          <div className="info">
          <h5><b> Name:{{roommate.name}}  {{roommate.surname}}</b></h5>  
        <div class="divcic"> <b>Gender: {{roommate.gender}}</b> </div>
        <div class="divcic" > <b> Email:{{roommate.email}}</b> </div>
        <div class="divcic"> <b> Location:{{roommate.location}}</b> </div>
      </div>
      </div>
  </div>
  </div>