.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   width:60%;
    background-color: rgb(247, 216, 183);
    border:rgb(94, 78, 78) solid 2px;
    width:100%

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width:60%;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
h6{
float:left;
}
.roomImg{
    width: 40%;
    height: 40%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;



}
.cardRoom{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   
    background-color: rgb(250, 248, 246);


}
h5{
    width:100%;
}
.btn-group{

    margin:10px;
    float:left;
}
.btn-group{

 width:30%;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid rgb(25, 163, 13); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
.icon{
    float:right;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

.btn-primary{
width:25%;

}
.podaci{
    font-family: "Times New Roman", Times, serif;
}