<div *ngIf="room != null">
    <div class="card">
        <div class="container">
            <h4><b>Town:<b className="podaci"> {{room.location}}</b></b></h4> 
          </div>
        <img src={{room.picture}}  class="roomImg" >
        <p>{{room.description}}</p>
        <div className="btn-group">
            <mat-icon className="icon"(click)="editRoom()"  routerLink="/edit">edit</mat-icon>
            <mat-icon className="icon" (click)="deleteRoom()" routerLink="/profile">delete</mat-icon>
          
          </div>

      </div>
    
  
 
  </div>
