<div class="mojDiv">
  <div class="container">
    <h2>Add now room for rent!</h2>
    <p>In this section you can add a room you want to rent</p>
  </div>

  <div class="container" style="background-color:white">
    <div class="tekst">Enter location for room:</div>
    <input type="text"  [(ngModel)]="loc" required>
    <div class="tekst">Enter how many places room have:</div>
    <input type="text"  [(ngModel)]="spaces" required>
    <div class="tekst">Enter URL for picture of your room:</div>
    <input type="text"  [(ngModel)]="picture" required>
    
    <div class="tekst">Enter little description:</div>
    <textarea class="form-control" rows="5" id="comment" [(ngModel)]="description"></textarea>
  </div>

  <div class="container">
    <input type="submit" routerLink="/profile"(click)="addRoom(loc,spaces,picture,description)" value="Add room!">
  </div>
</div>