<div style="border:1px solid black" class="singUp">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Username</b></label>
      <input type="text" name="username" [(ngModel)]="user" ngDefaultControl required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" name="password"  [(ngModel)]="pass" ngDefaultControl required>

      <label ><b> Name </b></label>
      <input type="text" name="name"   [(ngModel)]="name" ngDefaultControl required>
      
      <label ><b> Surname </b></label>
      <input type="text"  name="surname" [(ngModel)]="surname" ngDefaultControl required>

      <label ><b> Email </b></label>
      <input type="text" name="email" [(ngModel)]="email" ngDefaultControl required > 

      <label ><b> Location </b></label>
      <input type="text"  name="location"  [(ngModel)]="loc" ngDefaultControl required>

     

      <label class="labela" ><b> Gender </b></label>
      <label class="radio-inline"><input type="radio" name="optradio" ng-model='gender' ng-value="m">M</label>
      <label class="radio-inline"><input type="radio" name="optradio" ng-model='gender' ng-value="f">F</label>

            <label class="labela"   ><b> Ages </b></label>
      <input type="text"  name="email" [(ngModel)]="ages" ngDefaultControl required>
      <label ><b> Picture URL </b></label>
      <input type="text"  name="email"   [(ngModel)]="picture"  ngDefaultControl required>

      
  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
     
        <button type="submit" class="signupbtn" (click)="addToDataBase(user,pass,name,surname,email,loc,gender,ages,picture)" routerLink="/profile">Sign Up</button>
      </div>
    </div>
  </div>