<div className="container">
<mat-icon className="home" routerLink="/profile">home</mat-icon> 
<ul >
        
    <li *ngFor="let soba of rooms$ | async">
        <div *ngFor="let people of user$|async">
            <div *ngIf="people.id!=soba.id"> 
       
  <app-room [room]="soba"
  
  >

  </app-room>

  </div>
  </div>
       </li> 
  
     
   
    
  </ul>
</div>