<div *ngIf="people != null" (click)="selectPeople()" class="peopleDiv">
    {{people.name}}
    {{people.surname}}
    <br/>
    <div [style.background-color]="selected ? 'green' : 'red'">
    {{selected}}  
    </div>
  </div>
