/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    background: url("https://cdn1.imggmi.com/uploads/2018/6/14/d01924ce8b977962bd8f2f84dc81a830-full.jpg") no-repeat center center fixed;
    
        margin:0;
        padding:0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
}