<div *ngFor="let room of room$|async" >
  
   
<div style="border:1px solid black" class="singUp">
    <div class="container">
      <h1>Edit room </h1>
       
     <hr>
      <label for="email"><b>Location</b></label>
      <input type="text" name="email"value={{room.location}} [(ngModel)]="loc" required>
      
  
      <label for="psw"><b>Places</b></label>
      <input type="text" name="psw" value={{room.places}} [(ngModel)]="places"  required>

      <label ><b> Picture </b></label>
      <input type="text" name="email" value={{room.picture}} [(ngModel)]="picture"  required>
      
      <label ><b> Description </b></label>
      <input type="text"  name="email" value={{room.description}} [(ngModel)]="description"  required>

  
      <div class="clearfix">
     
        <button type="submit" class="signupbtn" (click)="updateValue(room.id,loc,places,picture,description)" routerLink="/profile">Update changes</button>
      </div>
      </div>
    </div>
  </div>
